<header>
    <nav class="menu-barras">
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <nav class="navbar">
        <div class="carrinho ">
            <a href="compras/compra.html"><img src="assets/sacola.jpg" alt="carrinho de compras"></a>
        </div>
        <div class="logo">
            <a href="#"><img src="assets/Logo.svg" alt="Logo Game mania"></a>
        </div>
        <div class="iniciar">
            <a routerLink="">iniciar sessão</a>
        </div>
    </nav>
    <!-- barra de pesquisa -->
    <div class="CampoPesquisa">
        <form action="">
            <div class="campo-input">
                <input id="campo-pesquisa" type="text" placeholder="Pesquisar..." required />
                <button class="button" onclick="pesquisarItem()"><img src="assets/lupa.png" alt="pesquisar"></button>
            </div>
        </form>
    </div>
    <!-- menu barras -->
    <nav class="menu-barras">
        <ul class="nav-list">
            <li><a routerLink="#">Jogos online</a></li>
            <li><a routerLink="#">Mais vendidos</a></li>
            <li><a routerLink="#">Transmissões</a></li>
        </ul>
    </nav>
</header>