<!-- roda-pe -->
<footer>
    <nav class="roda-pé">
        <div class="contato">
            <h1>Telefone:(21)3333-3333</h1>
            <a href="#">fale conosco</a>
            <a href="sac/sac.html">SAC</a>
            <h2>Mania@game.com.br</h2>
            <img src="assets/Logo-Game mania.png" alt="imagem-logo">
        </div>
        <div class="redes-sociais">
            <img src="assets/icon-youtube.svg" alt="youtube">
            <img src="assets/icon-insta.svg" alt="intagram">
            <img src="assets/icon-twiter.svg" alt="twiter">
        </div>
    </nav>
</footer>