* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

main {
    background-image: linear-gradient(to bottom, rgba(2, 1, 1, 0.89), #1313a5ca);
    background-repeat: no-repeat;
    background-size: cover;
}

#agreement-label a {
    color: #e60084;
    text-decoration: underline;
}


/* form */

#main-container {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid rgb(228, 221, 221);
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border-color: #FF1A1A;
}

.iniciar-secão {
    display: flex;
    justify-content: center;
    height: 48vw;
    width: 100vw;
}

#main-container h1 {
    font-family: 'Comforter', 'cursive';
    margin-bottom: 25px;
    font-size: 1.6em;
    /*adapta ao elemento root */
    color: #fff;
    display: flex;
    justify-content: center;
}

.full-box1 {
    display: inline-grid;
}

.half-box {
    display: inline-grid;
    position: relative;
}

label {
    font-weight: bold;
    font-size: .8rem;
    color: white;
}


/* espaço imput  */

input {
    border-bottom: 2px solid #1b1a1a;
    padding: 10px;
    width: 30vw;
    font-size: .9rem;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

#Cadastrar {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 30vw;
    padding: 10px;
}


/* validações*/

.error-validação {
    color: #1aff53;
    position: absolute;
    top: 57px;
    font-size: .8rem;
}

@media screen and (max-width:320px) {
    #main-container {
        width: 284px;
    }
    #btn-submit {
        width: 232px;
    }
}