<main>
    <form action="createCadastro()" id="register-form ">
        <div class="iniciar-secão ">
            <div id="main-container">
                <h1>Cadastre-se para acessar o sistema</h1>
                <div class="full-box1 ">
                    <label>E-mail</label>
                    <input type="email " name="email " id="email " [(ngModel)]="cadastro.email " placeholder="Digite seu e-mail " data-min-length=" " required>
                </div>
                <div class="half-box spacing ">
                    <label>Nome</label>
                    <input type="text " name="name " id="name " [(ngModel)]="cadastro.nome " placeholder="Digite seu nome " data-min-length=" ">
                </div>
                <div class="half-box ">
                    <label for="lastname ">Sobrenome</label>
                    <input type="text " name="lastname " id="lastname " [(ngModel)]="cadastro.sobrenome " placeholder="Digite seu sobrenome " data-min-length=" ">
                </div>
                <div class="half-box spacing ">
                    <label for="pasword ">Senha</label>
                    <input type="password " name="pasword " id="pasword " [(ngModel)]="cadastro.senha " placeholder="Digite sua Senha " required>
                </div>
                <div class="half-box ">
                    <label for="pasconfirmation ">Senha</label>
                    <input type="password " name="pasconfirmation " id="pasconfirmation " placeholder="Confrime sua Senha " required>
                </div>
                <div class="full-box ">
                    <label for="agreement " id="agreement-label ">Eu li e aceito os <a class="termo " href="# "> termos de uso </a></label>
                    <input type="checkbox " name="agreement " id="agreement " required>

                </div>
                <div class="cadastro ">
                    <button class="btn btn-cadastrar " (click)="createCadastro() ">Cadastrar</button>
                    <button class="btn btn-cadastrar " (click)="deletarCadastro() ">Deletar</button>
                    <button class="btn btn-cadastrar " (click)="tabelasCadastro() ">Tabela de cadastro</button>
                </div>
            </div>

        </div>
    </form>
</main>